<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Advanced Messaging System</display-name>
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>removeschedule</servlet-name>
		<servlet-class>com.hti.webems.url.RemoveSchedule</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>apitest</servlet-name>
		<servlet-class>com.hti.webems.url.UrlRequestTest</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>websms</servlet-name>
		<servlet-class>com.hti.webems.url.SendUrlSmsAction</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>groupsms</servlet-name>
		<servlet-class>com.hti.webems.url.GroupSmsRequest</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lookup</servlet-name>
		<servlet-class>com.hti.webems.url.Lookup</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lookupAndResult</servlet-name>
		<servlet-class>com.hti.webems.url.LookupAndResult</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>xmlsms</servlet-name>
		<servlet-class>com.hti.webems.url.XmlRequestAction</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jsonsms</servlet-name>
		<servlet-class>com.hti.webems.url.JsonSmsRequest</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jsonmms</servlet-name>
		<servlet-class>com.hti.webems.url.JsonMmsRequest</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jsonrouteresp</servlet-name>
		<servlet-class>com.hti.webems.url.JsonRouteResponse</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jsonschlist</servlet-name>
		<servlet-class>com.hti.webems.url.JsonScheduleList</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jsonschrem</servlet-name>
		<servlet-class>com.hti.webems.url.JsonScheduleRemove</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jsonstatus</servlet-name>
		<servlet-class>com.hti.webems.url.JsonResultAction</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>xmlstatus</servlet-name>
		<servlet-class>com.hti.webems.url.XmlResultAction</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>lookupReport</servlet-name>
		<servlet-class>com.hti.webems.url.LookupResult</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>mnpReport</servlet-name>
		<servlet-class>com.hti.webems.url.MnpResult</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>StatusReport</servlet-name>
		<servlet-class>com.hti.webems.url.UrlSmsStatusAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FileNumberCountServlet</servlet-name>
		<servlet-class>com.hti.webems.sms.FileNumberCountServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getContactUpload</servlet-name>
		<servlet-class>com.hti.webems.sms.GetContactUpload</servlet-class>
	</servlet>



	<servlet>
		<servlet-name>showBalance</servlet-name>
		<servlet-class>com.hti.webems.url.UrlUserBalanceAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>webrecharge</servlet-name>
		<servlet-class>com.hti.webems.url.WebRecharge</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>webbalance</servlet-name>
		<servlet-class>com.hti.webems.url.WebBalanceRequest</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>otprequest</servlet-name>
		<servlet-class>com.hti.webems.url.OTPRequestAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>listSessionUser</servlet-name>
		<servlet-class>com.hti.webems.util.ListSessionUserAction</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>smppStatus</servlet-name>
		<servlet-class>com.hti.webems.superadmin.smppStatus</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>utilServlet</servlet-name>
		<servlet-class>com.hti.webems.util.UtilityServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>findOptionServlet</servlet-name>
		<servlet-class>com.hti.webems.network.FindOptionServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>downloadcoverage</servlet-name>
		<servlet-class>com.hti.webems.report.CoverageReportDownload</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>apidlrreport</servlet-name>
		<servlet-class>com.hti.webems.url.ApiReportRequest</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GetSubareaClass</servlet-name>
		<servlet-class>com.hti.webems.mobiledb.GetSubareaClass</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>webDLR</servlet-name>
		<servlet-class>com.hti.webems.url.WebDLRAction</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>msgbrd</servlet-name>
		<servlet-class>com.hti.webems.url.MsgbrdHlrResult</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CountryList</servlet-name>
		<servlet-class>com.hti.webems.url.CountryList</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DisplayContactServlet</servlet-name>
		<servlet-class>com.hti.contacts.action.DisplayContactServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplayContactServlet</servlet-name>
		<url-pattern>/displayContact</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CountryList</servlet-name>
		<url-pattern>/CountryList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webDLR</servlet-name>
		<url-pattern>/webDLR</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>msgbrd</servlet-name>
		<url-pattern>/msgbrd</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>listSessionUser</servlet-name>
		<url-pattern>/listSessionUser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>StatusReport</servlet-name>
		<url-pattern>/websmsstatus</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>lookup</servlet-name>
		<url-pattern>/hlr/lookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lookupAndResult</servlet-name>
		<url-pattern>/hlr/lookupandresult</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>lookupReport</servlet-name>
		<url-pattern>/hlr/report</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mnpReport</servlet-name>
		<url-pattern>/mnp/report</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>apitest</servlet-name>
		<url-pattern>/apitest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>removeschedule</servlet-name>
		<url-pattern>/websms/removeschedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>websms</servlet-name>
		<url-pattern>/websms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>groupsms</servlet-name>
		<url-pattern>/websms/groupsms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xmlsms</servlet-name>
		<url-pattern>/xmlsms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsonsms</servlet-name>
		<url-pattern>/json/sms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsonmms</servlet-name>
		<url-pattern>/json/mms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsonrouteresp</servlet-name>
		<url-pattern>/json/routeresp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsonschlist</servlet-name>
		<url-pattern>/json/schedulelist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsonschrem</servlet-name>
		<url-pattern>/json/scheduleremove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsonstatus</servlet-name>
		<url-pattern>/json/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xmlstatus</servlet-name>
		<url-pattern>/xmlstatus</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>apidlrreport</servlet-name>
		<url-pattern>/api/dlrreport</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>locale</servlet-name>
		<url-pattern>/changeLocale</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>subscrLogin</servlet-name>
		<url-pattern>/subscriber/welcome</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>subscrLogout</servlet-name>
		<url-pattern>/subscriber/logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>addnumber</servlet-name>
		<url-pattern>/subscriber/addnumber</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/action/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fileformat</servlet-name>
		<url-pattern>/fileformat</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>fileformatByName</servlet-name>
		<url-pattern>/fileformatByName</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>subscriberlogin</servlet-name>
		<url-pattern>/subscriber/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>showBalance</servlet-name>
		<url-pattern>/balanceReport</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webrecharge</servlet-name>
		<url-pattern>/webrecharge</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>webbalance</servlet-name>
		<url-pattern>/webbalance</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>otprequest</servlet-name>
		<url-pattern>/otprequest</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>smppStatus</servlet-name>
		<url-pattern>/smppStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findOptionServlet</servlet-name>
		<url-pattern>/findOptionServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>utilServlet</servlet-name>
		<url-pattern>/utilServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getContactUpload</servlet-name>
		<url-pattern>/getContactUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileNumberCountServlet</servlet-name>
		<url-pattern>/FileNumberCountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MediaUploadServlet</servlet-name>
		<url-pattern>/mediaUpload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>downloadcoverage</servlet-name>
		<url-pattern>/downloadcoverage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetSubareaClass</servlet-name>
		<url-pattern>/GetSubareaClass</url-pattern>
	</servlet-mapping>

</web-app>